#schedule {
  text-align: left;
}

#schedule > .time {
  font-family: "Sauced-Tomato";
  color: transparent;
  background-clip: text;
}

#schedule > .block {
  z-index: 0;
  display: inline-block;
  margin-left: 1em;
  position: relative;
  overflow: visible;
  padding-left: calc(1em + 4px);
}

#schedule > .block:after {
  content: "";
  z-index: -1;
  position: absolute;
  margin-left: 4px;
  left: 0;
  top: 0;
  width: calc(100% - 4px);
  height: 100%;
  background: var(--corn);
}
